# check if minio_env.sh exists
if [ ! -f "minio_env.sh" ]; then
    echo "minio_env.sh not found"
    echo "export MINIO_ACCESS_KEY=\nexport MINIO_SECRET_KEY=\n" > minio_env.sh
    echo "Please fill in the minio_env.sh file with the correct values"
    exit 1
fi
source minio_env.sh

# check if .venv exists
if [ ! -d ".venv" ]; then
    python3 -m venv .venv

fi
source .venv/bin/activate
pip install -r requirements.txt

